.appointment {
    width: 400px;
    height: 120px;
    margin-left: 470px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    background-color: black;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    border-radius: 10px;
    margin-top: 70px;
}